<header>
	<div class="logo">
		<!-- Logo here -->
	</div>
	<div class="left-menu">
		<!-- Login Logout settings menu here -->
	</div>
</header>

<div class="main">
	<div class="side-menubar">
		<ul>
			<li>Playlist</li>
			<li>Groups</li>
			<li>Content</li>
			<li>Manage Signages</li>
		</ul>
	</div>
	<div class="content">
		<div class="panel">
			<div class="panel-heading">
				<h4>Playlist</h4>
			</div>
			<div class="panel-content">
				<button><i class="fa fa-plus"></i>Add playlist</button>
			</div>
		</div>
	</div>
</div>

