
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-default">
  			<div class="panel-body">
 					<ul class="nav nav-stacked">
		    		<li role="presentation" class="active"><a href="/playlists">Playlist</a></li>
  					<li role="presentation"><a href="/groups">Groups</a></li>
  					<li role="presentation"><a href="/manage">Manage Pi</a></li>
  					<li role="presentation"><a href="/content">Content</a></li>
					</ul>
				</div>
			</div>
		</div>
		 	<div class="col-lg-8">
				<div class="panel panel-default" id="playlist">
					{{outlet}}
  			</div>	
			</div> 
	</div>
</div>	

